@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* General Page Styling */
body {
    font-family: 'Press Start 2P', cursive;
    background: url('background.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* App Container */
.app-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    background: rgba(0, 0, 128, 0.85); 
    box-shadow: 0px 4px 15px rgba(255, 255, 0, 0.6); 
    border: 3px solid yellow; 
    text-align: center;
}

/* Title */
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    font-weight: bold;
    color: #FFD700; 
    text-shadow: 2px 2px 5px #ffb400;
    margin-bottom: 20px;
}

/* Character Picker */
.character-picker {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

/* Character Images */
.character-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, border 0.2s;
    object-fit: cover;
    border: 3px solid #FFD700; 
}

.character-image:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(255, 255, 0, 0.8);
    border: 3px solid #FFA500;
}

/* Character Name Styling */
.character-name {
    font-family: 'Russo One', sans-serif;
    font-size: 22px;
    margin-top: 10px;
}

/* Reset Button  */
.reset-button {
    margin-top: 20px;
    background: radial-gradient(circle, #FFD700 30%, #FFA500 70%);
    color: #000080;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    padding: 12px 25px;
    border: 3px solid yellow;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
}

.reset-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px yellow;
}
